@model PropertyRentalManagement.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<br />
<br />

<div class="wrapper">
    @using (Html.BeginForm("Login","Account", FormMethod.Post, new{ @class = "form-signin" }))
    {
        <h2 class="form-sigin-heading">Please login</h2>
        <input type="text" class="form-control" name="email" placeholder="Email" required="" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" />
        <br />
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
        <br />
        @Html.ValidationMessage("LogOnError");
    }
</div>
