
<h1>Available Apartments</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.availableApartments)
        {
            <tr>
                <td>
                    @item.Title
                </td>
               
                <td>
                   @item.Description
                <td>
                    <a asp-action="AvailableApartmentDetails" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
